<div class="flex flex-col items-stretch gap-3 mb-2">
  <button
    type="button"
    class="w-fit mx-auto my-5 px-4 py-2 rounded-lg text-white bg-custom-accent hover:bg-custom-accent-dark dark:bg-purple-800 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
    (click)="displayCreateUnit()"
  >
    {{ !createUnitStatus ? 'Crear unidad' : 'Cancelar' }}
  </button>
  <div class="flex flex-col gap-3">
    @for (unit of planning; track $index; let unit_index = $index; let planning_length = $count) {
      <div
        class="flex items-center rounded-full px-3 py-2 bg-purple-500/50 hover:bg-purple-500 transform hover:scale-101 transition-all duration-300"
        (click)="touchedUnit = unit_index"
      >
        <p class="flex-1 text-base">
          <span class="font-bold">{{ unit_index + 1 }}.</span>
          {{ unit.title }}
        </p>
        <div class="flex gap-1 items-center">
          <div (click)="displayCreateSection(unit_index)">
            <app-create-edit-cancel-remove-button
              [type]="
                createSectionStatus && touchedUnit === unit_index && !editSectionStatus
                  ? 'cancel'
                  : 'create'
              "
              [icon]="'_light'"
            ></app-create-edit-cancel-remove-button>
          </div>
          <div (click)="displayEditUnit(unit_index)">
            <app-create-edit-cancel-remove-button
              [type]="editUnitStatus && touchedUnit === unit_index ? 'cancel' : 'edit'"
              [icon]="'_light'"
            ></app-create-edit-cancel-remove-button>
          </div>
          <div (click)="removeUnit(unit_index)">
            <app-create-edit-cancel-remove-button
              [type]="'remove'"
              [icon]="'_light'"
            ></app-create-edit-cancel-remove-button>
          </div>
          @if (unit_index > 0) {
            <div
              class="w-8 h-8 text-custom-muted-dark dark:text-inherit rounded-full hover:bg-white/60 transition-all duration-300 transform hover:scale-101 flex items-center justify-center"
              (click)="increaseUnitNumber(unit_index)"
            >
              <mat-icon class="w-6 h-6">arrow_upward</mat-icon>
            </div>
          }
          @if (unit_index < planning_length - 1) {
            <div
              class="w-8 h-8 text-custom-muted-dark dark:text-inherit rounded-full hover:bg-white/60 transition-all duration-300 transform hover:scale-101 flex items-center justify-center"
              (click)="decreaseUnitNumber(unit_index)"
            >
              <mat-icon class="w-6 h-6">arrow_downward</mat-icon>
            </div>
          }
        </div>
      </div>

      <app-section-form
        [unit]="unit"
        [unit_index]="unit_index"
        [createSectionStatus]="createSectionStatus"
        [editSectionStatus]="editSectionStatus"
        [showSectionForm]="showSectionForm"
        [sectionForm]="sectionForm"
        [touchedUnit]="touchedUnit"
        (updateUnitForm)="updateUnitSections($event, unit_index); touchedUnit = unit_index"
        (setEditSectionStatus)="editSectionStatus = $event"
        (setTouchedSection)="touchedSection = $event"
        (closeUnitForms)="onCloseUnitForms()"
        (cancelAllForms)="cancelAllFormsHandler()"
        (setShowSectionForm)="showSectionForm = $event"
        (requestEditSection)="handleRequestEditSection($event)"
      ></app-section-form>
    }
    @if (showUnitForm) {
      <div [formGroup]="unitForm" class="flex-1 flex items-center gap-3 mt-3">
        <input
          type="text"
          placeholder="Escribe el título de la unidad"
          class="flex-1 w-full px-4 py-2 bg-custom-background placeholder-custom-muted dark:bg-gray-900 border-b-2 border-b-custom-border outline-transparent text-base hover:border-b-custom-accent focus:outline-b-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
          formControlName="title"
          (keydown.enter)="
            $event.preventDefault(); editUnitStatus ? editUnit(editedUnit) : addUnit()
          "
        />
        <button
          type="button"
          class="w-fit px-4 py-2 rounded-lg text-white bg-custom-accent hover:bg-custom-accent-dark dark:bg-purple-800 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
          (click)="editUnitStatus ? editUnit(editedUnit) : addUnit()"
        >
          {{ editUnitStatus ? 'Editar' : 'Guardar' }}
        </button>
      </div>
      @if (unitFormError) {
        <p class="mx-auto text-sm text-custom-error italic">{{ unitFormError }}</p>
      }
    }
  </div>
</div>
