<header
  class="sticky top-0 left-0 right-0 z-50 h-16 backdrop-blur-3xl bg-custom-background/60 dark:bg-black/70"
>
  <nav class="container mx-auto px-6 py-3 flex justify-between items-center h-full">
    <a routerLink="/" class="flex items-center gap-2 text-lg font-bold text-custom-text-main dark:text-white">
      <img
        [src]="isDarkMode ? 'taskly_logo_dark.png' : 'taskly_logo.png'"
        alt="Logo de la aplicación"
        class="w-8 h-8"
      />
      {{ appName }}
    </a>

    <div class="flex items-center gap-4">
      <!-- Botón hamburguesa solo visible en móvil -->
      <button
        class="md:hidden flex flex-col justify-center items-center w-10 h-10 focus:outline-none hover:bg-gray-100; rounded-full"
        (click)="toggleMobileMenu()"
        aria-label="Abrir menú"
      >
        <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
      </button>
      <!-- Menú de navegación -->
      <div class="hidden md:flex items-center gap-4">
        <app-light-dark-button></app-light-dark-button>
        @for (link of MENU_LINKS; track link.label) {
          <a [routerLink]="link.routerLink" [ngClass]="link.classes">
            {{ link.label }}
          </a>
        }
      </div>
    </div>
    <!-- Menú móvil -->
    @if (isMobileMenuOpen) {
      <div
        class="md:hidden absolute top-16 left-0 w-full bg-gradient-to-r from-custom-accent to-custom-accent-dark dark:from-gray-800 dark:to-gray-900 text-white shadow-lg flex flex-col items-center gap-4 py-4 z-40 animate-fade-in"
      >
        <app-light-dark-button></app-light-dark-button>
        @for (link of MENU_LINKS; track link.label) {
          <a
            [routerLink]="link.routerLink"
            [ngClass]="link.mobileClasses"
            (click)="toggleMobileMenu()"
          >
            {{ link.label }}
          </a>
        }
      </div>
    }
  </nav>
</header>
