<header class="sticky top-0 left-0 right-0 z-50 shadow-lg h-16 ">
  <nav class="container mx-auto px-6 py-3 flex justify-between items-center h-full">
    <a routerLink="/" class="flex items-center gap-2">
      <img src="taskly_icon.svg" alt="logo" class="h-8 w-8" />

      {{ appName }}
    </a>

    <p>Hola</p>

    <div class="flex items-center gap-4">
      <!-- Botón hamburguesa solo visible en móvil -->
      <button
        class="md:hidden flex flex-col justify-center items-center w-10 h-10 text-white focus:outline-none"
        (click)="toggleMobileMenu()"
        aria-label="Abrir menú"
      >
        <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
      </button>
      <!-- Menú de navegación -->
      <div class="hidden md:flex items-center gap-4">
        <button class="btn btn-circle text-xl" (click)="toggleTheme()">
          <mat-icon aria-hidden="true" fontIcon="dark_mode"></mat-icon>
        </button>
        @for (link of MENU_LINKS; track link.label) {
          <a [routerLink]="link.routerLink" [ngClass]="link.classes">
            {{ link.label }}
          </a>
        }
      </div>
    </div>
    <!-- Menú móvil -->
    <div
      *ngIf="isMobileMenuOpen"
      class="md:hidden absolute top-16 left-0 w-full bg-gradient-to-r from-custom-accent to-custom-accent-dark text-white shadow-lg flex flex-col items-center gap-4 py-4 z-40 animate-fade-in"
    >
      <button class="btn btn-circle text-xl" (click)="toggleTheme()">
        <mat-icon aria-hidden="true" fontIcon="dark_mode"></mat-icon>
      </button>
      @for (link of MENU_LINKS; track link.label) {
        <a
          [routerLink]="link.routerLink"
          [ngClass]="link.mobileClasses"
          (click)="toggleMobileMenu()"
        >
          {{ link.label }}
        </a>
      }
    </div>
  </nav>
</header>
