<section #ctaSection class="mx-auto my-20 p-10 text-center">
  <h2 class="text-2xl lg:text-4xl font-bold mb-6 text-[var(--color-custom-text-main)] dark:text-white">
    ¡Empieza hoy tu camino hacia el éxito!
  </h2>

  <p class="mb-10 text-lg text-gray-700 dark:text-gray-300 max-w-xl mx-auto">
    Únete a nuestra comunidad y aprovecha todas las ventajas para alumnos y profesores.
  </p>

  <a
    routerLink="/signup"
    class="text-sm sm:text-base px-4 py-2 sm:px-6 sm:py-3 font-medium rounded-md bg-custom-accent-dark text-white hover:bg-custom-accent dark:hover:bg-purple-700 transform hover:scale-105 transition-all duration-300 shadow-custom-md dark:bg-purple-800/40 dark:border-purple-400 dark:text-purple-100"
  >
    Empezar ahora
  </a>
</section>
