<div class="w-full lg:w-85 flex">
  <aside
    class="fixed dark:shadow-sm dark:shadow-white bottom-0 left-0 w-full flex flex-row justify-around items-center lg:fixed lg:flex-col lg:w-85 lg:h-dvh lg:justify-start lg:items-start gap-4 p-5 bg-custom-background dark:bg-black shadow-xl z-10"
  >
    <div
      class="w-fit lg:w-full p-2 rounded-full hover:bg-custom-primary-dark lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105 flex gap-4"
      [routerLink]="['/dashboard', 'settings']"
    >
      <img
        [src]="user.profile_image_url"
        alt=""
        class="w-8 h-8 lg:w-16 lg:h-16 object-cover object-center rounded-full"
      />
      <div class="hidden lg:flex flex-col">
        <h3 class="text-base font-bold text-custom-main">
          {{ user.first_name }} {{ user.last_name }}
        </h3>
        <h4 class="text-sm text-custom-accent-dark dark:text-purple-300 font-bold">
          {{ user.username }}
        </h4>
      </div>
    </div>
    <div class="flex-1 flex lg:flex-col justify-between">
      <ul class="flex flex-row lg:flex-col gap-4 justify-around items-center w-full">
        <li
          class="block sm:hidden p-3 flex items-center gap-4 rounded-full hover:bg-custom-primary-dark transition-all duration-300 transform hover:scale-105"
        >
          <img
            [src]="getIcon('burger_menu_icon')"
            alt="Icono de menú desplegable"
            class="w-8 h-8 object-fit object-cover block rounded-full"
            (click)="showList = !showList"
          />
        </li>
        <div class="hidden sm:flex lg:flex-col gap-4">
          <li
            [routerLink]="['/dashboard']"
            class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent lg:shadow-none lg:bg-transparent hover:bg-custom-primary-dark shadow-none lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          >
            <img
              [src]="getIcon('home')"
              alt="Icono de inicio"
              class="w-8 h-8 object-fit object-cover"
            />
            <label class="hidden lg:block text-xl font-bold">Inicio</label>
          </li>
          <li
            [routerLink]="['/dashboard', 'calendar']"
            class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent lg:shadow-none lg:bg-transparent hover:bg-custom-primary-dark shadow-none lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          >
            <img
              [src]="getIcon('calendar')"
              alt="Icono de calendario"
              class="w-8 h-8 object-fit object-cover"
            />
            <label class="hidden lg:block text-xl font-bold">Calendario</label>
          </li>
          <li
            [routerLink]="['/dashboard', 'eisenhower_matrix']"
            class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent lg:shadow-none lg:bg-transparent hover:bg-custom-primary-dark shadow-none lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          >
            <img
              [src]="getIcon('matrix')"
              alt="Icono de matriz de Eisenhower"
              class="w-8 h-8 object-fit object-cover"
            />
            <label class="hidden lg:block text-xl font-bold">Matriz de Eisenhower</label>
          </li>
          <li
            [routerLink]="['/dashboard', 'tasks']"
            class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent lg:shadow-none lg:bg-transparent hover:bg-custom-primary-dark shadow-none lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          >
            <img
              [src]="getIcon('tasks')"
              alt="Icono de tareas"
              class="w-8 h-8 object-fit object-cover"
            />
            <label class="hidden lg:block text-xl font-bold">Mis tareas</label>
          </li>
          <li
            [routerLink]="['/dashboard', 'courses']"
            class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent lg:shadow-none lg:bg-transparent hover:bg-custom-primary-dark shadow-none lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          >
            <img
              [src]="getIcon('course')"
              alt="Icono de cursos"
              class="w-8 h-8 object-fit object-cover"
            />
            <label class="hidden lg:block text-xl font-bold">Mis cursos</label>
          </li>
        </div>
        @if (showList) {
          <div class="absolute bottom-28 left-0 w-full flex flex-wrap justify-around sm:hidden">
            <li
              [routerLink]="['/dashboard']"
              class="p-3 lg:pr-5 flex items-center gap-4 rounded-full border-2 border-custom-accent-dark bg-custom-background dark:bg-black shadow-none md:shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:shadow-2xl lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
            >
              <img
                [src]="getIcon('home')"
                alt="Icono de inicio"
                class="w-8 h-8 object-fit object-cover"
              />
            </li>
            <li
              [routerLink]="['/dashboard', 'calendar']"
              class="p-3 lg:pr-5 flex items-center gap-4 rounded-full border-2 border-custom-accent-dark bg-custom-background dark:bg-black shadow-none md:shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:shadow-2xl lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
            >
              <img
                [src]="getIcon('calendar')"
                alt="Icono de Calendario"
                class="w-8 h-8 object-fit object-cover"
              />
            </li>
            <li
              [routerLink]="['/dashboard', 'eisenhower_matrix']"
              class="p-3 lg:pr-5 flex items-center gap-4 rounded-full border-2 border-custom-accent-dark bg-custom-background dark:bg-black shadow-none md:shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:shadow-2xl lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
            >
              <img
                [src]="getIcon('matrix')"
                alt="Icono de matriz de Eisenhower"
                class="w-8 h-8 object-fit object-cover"
              />
            </li>
            <li
              [routerLink]="['/dashboard', 'tasks']"
              class="p-3 lg:pr-5 flex items-center gap-4 rounded-full border-2 border-custom-accent-dark bg-custom-background dark:bg-black shadow-none md:shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:shadow-2xl lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
            >
              <img
                [src]="getIcon('tasks')"
                alt="Icono de tareas"
                class="w-8 h-8 object-fit object-cover"
              />
            </li>
            <li
              [routerLink]="['/dashboard', 'courses']"
              class="p-3 lg:pr-5 flex items-center gap-4 rounded-full border-2 border-custom-accent-dark bg-custom-background dark:bg-black shadow-none md:shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:shadow-2xl lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
            >
              <img
                [src]="getIcon('course')"
                alt="Icono de cursos"
                class="w-8 h-8 object-fit object-cover"
              />
            </li>
          </div>
        }
      </ul>
      <div class="self-center lg:self-start">
        <li
          class="p-3 lg:pr-5 flex items-center gap-4 rounded-full bg-custom-background dark:bg-transparent shadow-none lg:bg-transparent hover:bg-custom-primary-dark lg:hover:bg-custom-accent/20 transition-all duration-300 transform hover:scale-105"
          (click)="logout()"
        >
          <img
            [src]="getIcon('logout')"
            alt="Icono de cerrar sesión"
            class="w-8 h-auto object-fit object-cover"
          />
          <label class="hidden lg:block text-xl font-bold">Cerrar sesión</label>
        </li>
      </div>
    </div>
  </aside>
</div>
