<form
  class="mx-auto p-10 flex flex-col gap-5 bg-custom-panel max-w-250 lg:max-w-200 rounded-lg shadow-sm shadow-custom-accent-dark my-10"
  [formGroup]="loginForm"
  (ngSubmit)="getLogin(loginForm)"
>
  <fieldset class="flex flex-col">
    <label class="text-lg font-bold" for="user-name">Usuario</label>
    <input
      class="px-4 py-2 mt-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      id="username"
      type="text"
      placeholder="Introduce tu usuario"
      formControlName="username"
    />
  </fieldset>
  <fieldset class="flex flex-col">
    <label class="text-lg font-bold" for="password">Contraseña</label>
    <input
      class="px-4 py-2 mt-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      id="password"
      type="password"
      placeholder="Introduce tu contraseña"
      formControlName="password"
    />
  </fieldset>
  <a
    [routerLink]="['/login/change_password_email_request']"
    class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
  >
    ¿Te has olvidado de la contraseña?
  </a>
  @if (loginError) {
    <p class="pl-1 mt-1 italic text-sm text-custom-error pb-5">{{ loginError }}</p>
  }
  <div class="md:flex md:items-center">
    <div class="md:w-1/4"></div>
    <div class="md:w-2/4">
      <button
        class="w-fit px-2 py-2 rounded-lg border-2 border-custom-accent text-white bg-custom-accent hover:bg-custom-accent-dark transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
        type="submit"
      >
        Iniciar Sesión
      </button>
    </div>
    <div class="md:w-1/4"></div>
  </div>
</form>
