<div class="p-10 w-full flex-1 flex flex-col gap-2 bg-custom-background">
  @for (comment of comments; track comment.uuid) {
    <div class="max-w-200 flex flex-col rounded-lg shadow-xl p-5 bg-custom-background">
      <div class="flex flex-col">
        <app-comment
          [comment]="{
            uuid: comment.uuid,
            user: comment.user,
            created_at: comment.created_at,
            updated_at: comment.updated_at,
            content: comment.content,
          }"
          [user]="user"
          [isEditing]="editingCommentUuid === comment.uuid"
          (toggleEdit)="activateEdit(comment.uuid)"
        ></app-comment>
      </div>

      <!-- Contenedor de respuestas con transición en altura y margen -->
      <div
        class="transition-all duration-500 ease-in-out overflow-hidden"
        [class.max-h-0]="!shouldShowResponses(comment.uuid)"
        [class.max-h-screen]="shouldShowResponses(comment.uuid)"
        [class.opacity-0]="!shouldShowResponses(comment.uuid)"
        [class.opacity-100]="shouldShowResponses(comment.uuid)"
      >
        @for (response of comment.responses; track response.uuid) {
          <div class="pl-8 border-t border-custom-muted bg-custom-background">
            <app-comment
              [comment]="{
                uuid: response.uuid,
                user: response.user,
                created_at: response.created_at,
                updated_at: response.updated_at,
                content: response.content,
              }"
              [shouldShowResponses]="shouldShowResponses(comment?.uuid)"
              [user]="user"
              [isEditing]="editingCommentUuid === response.uuid"
              (toggleEdit)="activateEdit(response.uuid)"
            ></app-comment>
          </div>
        }
      </div>

      <!-- Botones siempre visibles, justo debajo del contenedor de respuestas -->
      <a
        (click)="changeShowStatus(comment.uuid)"
        class="mx-auto w-fit mb-1 mt-2 text text-xs text-center text-custom-text-secondary hover:underline cursor-pointer"
      >
        {{ shouldShowResponses(comment.uuid) ? 'Ocultar respuestas' : 'Mostrar respuestas' }}
      </a>
      @if (respondingToCommentUuid !== comment.uuid) {
        <a
          (click)="startReply(comment.uuid)"
          class="w-fit mb-1 self-end text-sm text-right text-blue-500 cursor-pointer hover:underline"
        >
          Responder
        </a>
      }

      @if (respondingToCommentUuid === comment.uuid) {
        <div class="pl-8 bg-custom-background">
          <app-comment
            [comment]="{
              uuid: '',
              user: {
                uuid: '02',
                first_name: 'Raúl',
                last_name: 'Filigrana Villalba',
                img_url: '',
                role: 'teacher',
              },
              created_at: '',
              updated_at: '',
              content: '',
            }"
            [isReplying]="true"
            [user]="user"
            (cancelReply)="cancelReply()"
            (submitReply)="submitReply($event)"
          ></app-comment>
        </div>
      }
    </div>
  }
</div>
