<section class="scroll-header flex flex-col items-center justify-center text-center px-6 py-32 relative">
  <h1 class="scroll-header__title text-[2.5rem] md:text-6xl font-bold text-[var(--color-custom-text-main)] leading-tight mb-6 max-w-3xl">
    Haz del conocimiento una experiencia compartida
  </h1>
  <img 
    src="arrow.gif"
    alt="Scroll down"
    class="scroll-arrow w-[60px] w-[80px] absolute left-1/2 -translate-x-1/2 bottom-[50px] opacity-100 transition-opacity duration-300"
  />
  <p class="scroll-header__content text-lg text-[var(--color-custom-text-main)] max-w-xl mb-10 ">
    Descubre una plataforma educativa diseñada para estudiantes y profesores. Aprende a tu ritmo o crea cursos personalizados, gestiona tu progreso y conecta con una comunidad de aprendizaje dinámica.
  </p>
  <div class="scroll-header__buttons flex flex-col sm:flex-row gap-4 justify-center md:justify-start">
    <a
      routerLink="/signup"
      class="bg-custom-accent-dark text-white px-6 py-3 rounded-md font-medium hover:bg-custom-accent transition-all duration-300 transform hover:scale-105 shadow-custom-md"
    >
      Empezar ahora
    </a>
    <a
      routerLink="/login"
      class="bg-white border-2 border-custom-accent text-custom-accent px-6 py-3 rounded-md font-medium hover:bg-custom-primary-light transition-all duration-300 transform hover:scale-105"
    >
      Ver cursos
    </a>
  </div>
</section>



<div class=" w-full pb-[300px] mb-[100px] flex justify-center">
  <div class="scroll-zoom">
    <img 
      src="dashboard.jpg" 
      alt="" 
      class="max-w-[70vw] w-full h-[80vh] object-cover object-top rounded-3xl shadow-lg border-2 border-[var(--color-custom-accent)]"
    />
  </div>
</div>


