<div [formGroup]="studentsSearchForm">
  <h3 class="text-xl font-bold mb-3">Agregar estudiantes</h3>
  <fieldset class="relative mt-5">
    <input
      type="email"
      placeholder="Escribe el correo electrónico del estudiante"
      class="w-full px-4 py-2 bg-custom-background placeholder-custom-muted dark:bg-custom-input-background-dark border-b-2 border-b-custom-border outline-transparent text-base hover:border-b-custom-accent focus:outline-b-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      (input)="showResult = false"
      (keydown.enter)="$event.preventDefault(); searchStudentByEmail()"
      formControlName="email"
    />
    <button
      type="button"
      class="w-8 h-8 text-custom-muted-dark dark:text-inherit flex items-center justify-center absolute right-1 top-1/2 -translate-y-1/2 hover:bg-gray-300/50 rounded-full transition-all duration-300"
      (click)="searchStudentByEmail()"
    >
      <mat-icon class="w-8 h-8 pointer-events-none">search</mat-icon>
    </button>
  </fieldset>

  @if (showResult) {
    <div
      class="flex bg-custom-background dark:bg-transparent dark:hover:bg-gray-500 rounded-lg hover:bg-gray-100 hover:scale-101 transform transition-all duration-300"
    >
      @if (
        !student.first_name ||
        !student.last_name ||
        !student.username ||
        !student.email ||
        !student.profile_image_url
      ) {
        <p class="py-10 mx-auto italic">No hemos encontrado a ningún usuario</p>
      } @else {
        <div class="p-3">
          <img
            [src]="profile_image_endpoint + student.profile_image_url"
            alt=""
            class="w-15 h-15 rounded-full"
          />
        </div>
        <div class="flex-1 flex flex-col p-3">
          <h4 class="text-base font-bold">{{ student.first_name }} {{ student.last_name }}</h4>
          <div>
            <p class="text-sm font-bold">{{ student.username }}</p>
            <p class="text-sm italic">{{ student.email }}</p>
          </div>
        </div>
        <div
          class="p-2"
          (click)="
            checkStudentExistsOnStudents(student.uuid)
              ? removeStudent(student.uuid)
              : addStudent(student)
          "
        >
          <app-create-edit-cancel-remove-button
            [type]="checkStudentExistsOnStudents(student.uuid) ? 'remove' : 'create'"
            [icon]="isDarkMode() ? '_light' : ''"
          ></app-create-edit-cancel-remove-button>
        </div>
      }
    </div>
  }

  @if (studentsSearchFormError) {
    <p class="text-custom-error italic text-base text-center mt-2">
      {{ studentsSearchFormError }}
    </p>
  }

  <div class="flex flex-wrap gap-2 mt-3">
    @for (student of students; track student.uuid) {
      <div
        class="flex items-center gap-3 rounded-full mt-2 pl-3 pr-2 py-1 bg-custom-accent-dark hover:bg-custom-accent transition-all duration-300 transform hover:scale-105"
        (click)="removeStudent(student.uuid)"
      >
        <p class="text-white font-bold text-xs">{{ student.first_name }} {{ student.last_name }}</p>
        <img src="cross.svg" alt="Icono de borrado de estudiante" class="w-5 h-5" />
      </div>
    }
  </div>
</div>
