<div class="p-5 md:p-10 md:pl-20 w-full flex-1 flex flex-col gap-2">
  <div
    class="max-w-200 flex flex-col rounded-lg shadow-xl p-5 bg-custom-primary-light dark:bg-custom-background-dark dark:shadow-xs dark:shadow-white"
  >
    <div class="flex flex-col gap-5">
      <div class="p-5 flex flex-col gap-5">
        <div class="flex flex-col sm:flex-row">
          <h2 class="flex-1 text text-custom-main text-pretty text-3xl font-bold">
            {{ thread.title }}
          </h2>
          @if (thread.user?.uuid === user.uuid) {
            <div class="mt-2 self-center flex gap-3">
              <button
                class="px-3 py-2 text-sm rounded-lg border-custom-accent text-white bg-custom-accent dark:bg-purple-800 dark:hover:bg-purple-900 hover:bg-custom-accent-dark transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
                (click)="showThreadForm = true; type = 'edit'"
              >
                Editar
              </button>
              <button
                class="px-3 py-2 text-sm text-custom-text-main rounded-lg bg-white hover:bg-custom-accent-dark dark:bg-purple-100 dark:hover:bg-purple-900 dark:border-purple-900 hover:text-white transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
                (click)="updateShowDeleteConfirmation(true)"
              >
                Borrar
              </button>
            </div>
          }
        </div>

        <hr class="border-custom-muted" />
        <p
          class="whitespace-pre-line text-custom-main text-pretty text-custom-main pl-5 border-l-5 border-l-custom-muted"
        >
          {{ thread.content | formatText }}
        </p>
        <div
          class="self-end mt-5 p-4 flex gap-5 rounded-lg bg-custom-primary-dark dark:bg-custom-input-background-dark dark:shadow-white shadow-xs"
        >
          <img
            [src]="profile_image_endpoint + thread.user?.profile_image_url"
            [alt]="
              'Imagen de perfil del usuario ' +
              thread.user?.first_name +
              ' ' +
              thread.user?.last_name
            "
            class="w-20 h-20 rounded-full"
          />
          <div class="flex flex-col gap-1">
            <h3 class="text-custom-main font-bold">
              {{ thread.user?.first_name }} {{ thread.user?.last_name }}
            </h3>
            <p class="text-custom-main text-sm">
              Creado: {{ thread.created_at | formatDate: 'DD/MM/YYYY HH:mm' }}
            </p>
            @if (thread.created_at !== thread.updated_at) {
              <p class="text-sm">
                Actualizado: {{ thread.updated_at | formatDate: 'DD/MM/YYYY HH:mm' }}
              </p>
            }
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2">
        @if (!showResponseForm || threadUuidWhereAResponseIsBeingCreated !== thread.uuid) {
          <button
            class="self-end px-3 py-2 mt-2 text-sm rounded-lg text-white bg-custom-accent dark:bg-purple-800 dark:hover:bg-purple-900 hover:bg-custom-accent-dark transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
            (click)="setAnsweredThread()"
          >
            Responder
          </button>
        }
        @if (showResponseForm && threadUuidWhereAResponseIsBeingCreated === thread.uuid && !false) {
          <app-response-form
            [user]="user"
            [threadUuid]="thread.uuid"
            (cancel)="updateShowResponseForm(false)"
            (create)="updateForum()"
          ></app-response-form>
          @if (!showResponses && thread.responses.length > 0) {
            <hr class="border-custom-muted" />
          }
        }
      </div>
      <div>
        @if (showResponses) {
          <hr class="border-custom-muted" />
          <div class="mt-2 flex flex-col gap-4">
            @for (response of thread.responses; track response.uuid) {
              <app-response
                [user]="user"
                [editedResponseUuid]="editedResponseUuid"
                [threadUuid]="thread.uuid ? thread.uuid : ''"
                [threadUuidWhereAResponseIsBeingEdited]="threadUuidWhereAResponseIsBeingEdited"
                [response]="response"
                (editResponse)="updateForum(); setEditedResponse($event)"
                (delete)="updateForum(); showResponses = !showResponses"
              ></app-response>
            }
          </div>
        }
        @if (thread.responses.length > 0) {
          <p
            class="text-sm text-center text-custom-accent-dark dark:text-purple-300 hover:underline cursor-pointer"
            (click)="showResponses = !showResponses"
          >
            {{ showResponses ? 'Ocultar respuestas' : 'Mostrar respuestas' }}
          </p>
        }
      </div>
    </div>
  </div>
</div>
@if (showThreadForm) {
  <div class="fixed inset-0 bg-black/30 z-50 flex items-center justify-center">
    <app-thread-form
      [thread]="thread"
      [type]="type"
      [course_uuid]="course_uuid"
      (cancel)="updateForum()"
      (save)="updateForum()"
      (create)="updateForum()"
    ></app-thread-form>
  </div>
}
@if (showDeleteConfirmation) {
  <div class="fixed inset-0 bg-black/30 z-50 flex items-center justify-center shadow-xl">
    <div
      class="p-10 bg-custom-background dark:bg-custom-panel-dark dark:shadow-sm dark:shadow-white rounded-lg w-75 flex flex-col gap-10"
    >
      <p class="text-custom-main text-center">¿Estás seguro de que quieres borrar este hilo?</p>
      @if (deleteThreadError) {
        <p class="pl-1 mt-1 italic text-sm text-custom-error text-center">
          {{ deleteThreadError }}
        </p>
      }
      <div class="flex gap-5 justify-center">
        <button
          class="px-3 py-2 text-sm text-custom-text-main rounded-lg bg-white hover:bg-custom-accent-dark hover:text-white transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
          (click)="deleteThread(thread.uuid ? thread.uuid : '')"
        >
          Confirmar
        </button>
        <button
          class="px-3 py-2 text-sm rounded-lg border-custom-accent text-white bg-custom-accent hover:bg-custom-accent-dark dark:bg-purple-800 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
          (click)="updateShowDeleteConfirmation(false)"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
}
