<form
  class="mx-auto p-10 flex flex-col gap-5 bg-custom-panel max-w-250 lg:max-w-200 rounded-lg shadow-sm shadow-custom-accent-dark my-10"
  [formGroup]="changePasswordForm"
  (ngSubmit)="changePassword()"
>
  <fieldset class="flex flex-col">
    <label for="password" class="text-lg font-bold">Contraseña</label>
    <div class="relative mt-2">
      @if (isVisiblePassword) {
        <img
          class="w-6 h-6 absolute left-2 top-1/2 -translate-y-1/2 cursor-pointer"
          (click)="isVisiblePassword = !isVisiblePassword"
          src="visible_password.svg"
          alt="Visible password icon"
        />
      } @else {
        <img
          class="w-6 h-6 absolute left-2 top-1/2 -translate-y-1/2 cursor-pointer"
          (click)="isVisiblePassword = !isVisiblePassword"
          src="invisible_password.svg"
          alt="Invisible password icon"
        />
      }
      <input
        [type]="isVisiblePassword ? 'text' : 'password'"
        formControlName="password"
        id="password"
        class="px-4 py-2 mt-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
        [class]="getValidationStyleClasses('password', ['required', 'pattern'])"
      />
    </div>
    @for (error of getErrors('password'); track $index) {
      <p class="pl-1 mt-1 italic text-sm text-custom-error">{{ error }}</p>
    }
  </fieldset>
  <fieldset class="flex flex-col">
    <label for="password_confirmation" class="text-lg font-bold">
      Confirmación de la contraseña
    </label>
    <div class="relative mt-2">
      @if (isVisiblePassword) {
        <img
          class="w-6 h-6 absolute left-2 top-1/2 -translate-y-1/2 cursor-pointer"
          (click)="isVisiblePassword = !isVisiblePassword"
          src="visible_password.svg"
          alt="Visible password icon"
        />
      } @else {
        <img
          class="w-6 h-6 absolute left-2 top-1/2 -translate-y-1/2 cursor-pointer"
          (click)="isVisiblePassword = !isVisiblePassword"
          src="invisible_password.svg"
          alt="Invisible password icon"
        />
      }
      <input
        [type]="isVisiblePassword ? 'text' : 'password'"
        formControlName="password_confirmation"
        id="password_confirmation"
        class="px-4 py-2 mt-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
        [class]="getValidationStyleClasses('password_confirmation', ['required', 'pattern'])"
      />
    </div>

    @for (error of getErrors('password_confirmation'); track $index) {
      <p class="pl-1 mt-1 italic text-sm text-custom-error">{{ error }}</p>
    }
  </fieldset>

  <div class="md:flex md:items-center">
    <div class="md:w-1/5"></div>
    <div>
      <button
        class="w-fit px-2 py-2 rounded-lg border-2 border-custom-accent text-white bg-custom-accent hover:bg-custom-accent-dark transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
        type="submit"
      >
        Cambiar la contraseña
      </button>
    </div>
    <div class="md:w-1/5"></div>
  </div>
</form>
