<div class="project-list">
  <h3 class="text-lg font-medium mb-4 flex items-center gap-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
    </svg>
    Lista de tareas
  </h3>
  <ul class="menu rounded-box w-full p-0" style="background: transparent;">
    @for (project of projects(); track project.id) {
      <li class="mb-2">
        <a class="flex flex-col items-start gap-1 py-2 rounded-lg cursor-pointer w-full"
           [class.selected-project]="isProjectSelected(project)"
           (click)="selectProject(project)">
          <p class="flex items-center gap-2">
            <span class="project-name font-medium text-base">{{project.name}}</span>
          </p>
          <p class="project-stats text-xs text-gray-500">
            {{getCompletedTaskCount(project)}} de {{getTaskCount(project)}} tareas completadas
          </p>
        </a>
        @if (!$last) {
          <div class="divider my-0"></div>
        }
      </li>
    }
  </ul>
</div>