<div class="min-h-screen bg-custom-background dark:bg-transparent">
  <div class="flex justify-start px-10 py-5">
    <button
      class="cursor-pointer px-6 py-3 text-xl text-black rounded-full border border-custom-accent-dark bg-custom-primary-dark hover:bg-custom-accent-dark dark:bg-purple-100 dark:hover:bg-purple-900 dark:border-purple-900 transition-all duration-300 transform hover:scale-105 hover:text-white shadow-lg hover:shadow-3xl"
      (click)="showThreadForm = true"
    >
      Crear hilo
    </button>
  </div>
  <div class="fixed top-1/2 right-0 flex justify-end p-5 pointer-events-auto">
    <button
      class="p-2 text-xl rounded-full w-10 h-10 bg-custom-background dark:bg-transparent dark:shadow-sm dark:shadow-white hover:bg-custom-primary dark:hover:bg-purple-900 dark:border-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-3xl"
      (click)="toggleOrder(); updateForum()"
    >
      @if (order === 'desc') {
        <mat-icon>arrow_downward</mat-icon>
      }
      @if (order === 'asc') {
        <mat-icon>arrow_upward</mat-icon>
      }
    </button>
  </div>
  @for (thread of forum; track thread.uuid) {
    <app-thread
      [thread]="thread"
      [threadUuidWhereAResponseIsBeingCreated]="threadUuidWhereAResponseIsBeingCreated"
      [threadUuidWhereAResponseIsBeingEdited]="threadUuidWhereAResponseIsBeingEdited"
      [user]="user"
      [course_uuid]="course_uuid"
      (update)="updateForum()"
      (delete)="updateForum()"
      (answeredThread)="onThreadAnswered($event)"
      (editedThread)="onThreadEdited($event)"
    ></app-thread>
  } @empty {
    <p class="text-[2.5rem] font-bold text-center mt-25">¡Vaya! No existe ningún hilo todavía.</p>
  }
  @if (showThreadForm) {
    <div class="fixed inset-0 bg-black/30 z-50 flex items-center justify-center">
      <app-thread-form
        [thread]="{
          uuid: '',
          user: {
            uuid: user.uuid,
            first_name: user.first_name,
            last_name: user.last_name,
            profile_image_url: user.profile_image_url,
            role: user.role === 'general' ? 'student' : user.role,
          },
          title: '',
          content: '',
          created_at: '',
          updated_at: '',
          responses: [],
        }"
        [course_uuid]="course_uuid"
        [type]="'create'"
        (cancel)="showThreadForm = false"
        (create)="showThreadForm = false; updateForum()"
      ></app-thread-form>
    </div>
  }
</div>
