<fieldset class="flex flex-col">
  <div class="flex justify-between items-center mb-3">
    <label [for]="controlName" class="text-sm font-bold">{{ label }}</label>

    @if (isEditing) {
      <img
        src="cancel_edit.svg"
        alt="Cancelar edición"
        class="w-6 h-6 cursor-pointer"
        (click)="onToggleEdit()"
      />
    } @else {
      <img
        src="edit.svg"
        alt="Editar"
        class="w-4 h-4 cursor-pointer"
        (click)="onToggleEdit()"
      />
    }
  </div>

  @if (isEditing) {
    <input
      [type]="type"
      [id]="controlName"
      [formControl]="control"
      class="w-full px-4 py-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300"
    />
  } @else {
    <p class="w-full mt-2 text-base">{{ value }}</p>
  }
</fieldset>
