<form
  [formGroup]="threadForm"
  (ngSubmit)="type === 'create' ? createThread(threadForm) : editThread(threadForm)"
  class="mx-auto p-8 flex flex-col gap-5 bg-custom-panel dark:bg-custom-background-dark min-w-100 sm:min-w-125 md:min-w-175 rounded-lg shadow-xs dark:shadow-white"
>
  <div class="flex flex-col gap-4 w-full">
    <fieldset class="flex flex-col gap-2">
      <label for="title" class="text-base font-bold">Título</label>
      <input
        type="text"
        formControlName="title"
        id="title"
        class="px-4 py-2 mt-2 bg-custom-background dark:bg-custom-input-background-dark border-b-2 border-b-custom-border outline-transparent text-base hover:border-b-custom-accent focus:outline-b-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      />
    </fieldset>
    <fieldset class="flex flex-col gap-2">
      <label for="content" class="text-base font-bold">Contenido</label>
      <textarea
        type="text"
        formControlName="content"
        id="content"
        class="whitespace-pre-line text-pretty resize-none px-4 py-2 mt-2 bg-custom-background dark:bg-custom-input-background-dark border-b-2 border-b-custom-border outline-transparent text-base hover:border-b-custom-accent focus:outline-b-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
        rows="15"
      ></textarea>
    </fieldset>
  </div>
  @if (threadFormError) {
    <p class="pl-1 mt-1 italic text-sm text-custom-error text-center">{{ threadFormError }}</p>
  }
  <div class="flex justify-center gap-5">
    <button
      type="button"
      class="w-fit mt-5 px-4 py-2 rounded-lg dark:hover:text-white bg-custom-background hover:bg-custom-accent-dark dark:text-black dark:bg-purple-100 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
      (click)="cancelThreadForm()"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="w-fit mt-5 px-4 py-2 rounded-lg text-white bg-custom-accent hover:bg-custom-accent-dark dark:bg-purple-800 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
    >
      {{ type === 'create' ? 'Crear' : 'Guardar' }}
    </button>
  </div>
</form>
