<div class="flex p-1 gap-2">
  <div class="flex gap-2">
    <img
      [src]="comment?.user?.img_url"
      [alt]="'Imagen de perfil de' + comment?.user?.name"
      class="w-7 h-7 bg-gray-900 rounded-full object-cover object-center"
    />
    <div class="flex flex-col">
      <div class="flex items-center gap-5">
        <h3 class="text-xs text-custom-text-main font-bold truncate">
          {{ comment?.user?.name | uppercase }}
        </h3>
        <p class="text-xs text-custom-text-secondary">({{ comment?.created_at }})</p>
      </div>
      <div>
        <p class="text text-sm">{{ comment?.content }}</p>
      </div>
    </div>
  </div>
</div>
