<div
  class="p-2 w-8 h-8 rounded-full hover:bg-custom-background/75 transition-all duration-300 transform hover:scale-110 flex items-center justify-center cursor-pointer"
>
  <img
    [src]="
      type === 'edit'
        ? `edit${icon}.svg`
        : type === 'remove'
          ? `remove${icon}.svg`
          : type === 'cancel'
            ? `cancel${icon}.svg`
            : `create${icon}.svg`
    "
    [alt]="
      type === 'edit'
        ? 'Icono de edición'
        : type === 'remove'
          ? 'Icono de borrado'
          : type === 'cancel'
            ? 'Icono de cancelación'
            : 'Icono de creación'
    "
    class="w-6 h-6"
  />
</div>
