<div class="task-list">
  <div class="task-list-header flex justify-between items-center">
    @if (showBackButton) {
      <button (click)="back.emit()" class="mr-2" aria-label="Atrás">
        <mat-icon>arrow_back</mat-icon>
      </button>
    }
    <h2 class="text-lg font-bold">Tareas</h2>
    @if (!isCourse || (isCourse && isTeacher)) {
      <button (click)="openTaskFormModal()" mat-icon-button aria-label="Agregar tarea" class="custom-add-btn{{isCourse && isTeacher && selectedFilter !== 'cursos' ? ' with-text' : ''}}" [disabled]="selectedFilter === 'cursos'">
        <mat-icon>add</mat-icon>
        @if (isCourse && isTeacher && selectedFilter !== 'cursos') {
          <span class="ml-2 font-medium">Añadir tarea para alumnos</span>
        }
      </button>
    }
  </div>

  <!-- Filtros adicionales solo en móvil -->
  @if (showBackButton && !isCourse) {
    <app-task-filter (filterChange)="onFilterChange($event)"></app-task-filter>
  }
<!-- Modal de creación de tarea -->
  @if (showTaskFormModal) {
    <div class="fixed inset-0 bg-black/75 flex items-center justify-center transition-opacity duration-300 ease-in-out z-[20]">
      <div class="task-modal p-8 rounded-lg shadow-lg w-full max-w-lg relative animate-pop-in bg-custom-background dark:bg-custom-background-dark z-[30]">
        <button (click)="closeTaskFormModal()" class="absolute top-2 right-2 text-gray-500 hover:text-red-500 text-xl">&times;</button>
        <app-task-form
          (close)="closeTaskFormModal()"
          (createTask)="onCreateTask($event)">
        </app-task-form>
      </div>
    </div>
  }

<!-- Lista de tareas -->
  @if (tasks.length > 0) {
    <div>
      @for (task of tasks; track task.id) {
        <app-task
          [task]="task"
          [expanded]="expandedTasks[task.id]"
          [isSelected]="isTaskSelected(task)"
          [formatDueDate]="formatDueDate"
          (selectTask)="selectTask($event)"
          (toggleTask)="toggleTask($event)"
          (toggleSubtask)="toggleSubtask($event)"
          (toggleExpand)="toggleExpand($event)">
        </app-task>
      }
    </div>
  } @else {
    <p class="no-selection">No hay tareas para mostrar</p>
  }
</div>
