<form
  class="mx-auto p-10 flex flex-col gap-5 bg-custom-panel max-w-250 lg:max-w-200 rounded-lg shadow-sm shadow-custom-accent-dark my-10"
  #emailRequest="ngForm"
  (ngSubmit)="checkEmail(emailRequest)"
>
  <fieldset class="flex flex-col">
    <label class="text-lg font-bold pb-2" for="email">Correo electrónico</label>

    <input
      class="px-4 py-2 mt-2 bg-custom-background border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      id="email"
      type="text"
      placeholder="Introduce tu correo"
      name="email"
      ngModel
    />
  </fieldset>
  @if (emailRequestError) {
    <p class="pl-1 mt-1 italic text-sm text-custom-error pb-5">{{ emailRequestError }}</p>
  }
  <div class="md:flex md:items-center">
    <div class="md:w-1/5"></div>
    <div>
      <button
        class="w-fit px-1 py-1 rounded-lg border-2 border-custom-accent text-white bg-custom-accent hover:bg-custom-accent-dark transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
        type="submit"
      >
        Comprobar correo electrónico
      </button>
    </div>
    <div class="md:w-1/5"></div>
  </div>
</form>
