<form
  class="mx-auto p-10 flex flex-col gap-5 bg-custom-panel dark:bg-transparent dark:shadow-none max-w-250 lg:max-w-125 rounded-lg shadow-sm shadow-custom-accent-dark my-10"
  #emailRequest="ngForm"
  (ngSubmit)="checkEmail(emailRequest)"
>
  <p class="text-base text-pretty">
    Por favor, ingrese a continuación su correo electrónico para confirmarlo.
  </p>
  <fieldset class="flex flex-col">
    <label class="text-lg font-bold pb-2" for="email">Correo electrónico</label>
    <input
      class="px-4 py-2 mt-2 bg-custom-background dark:bg-gray-800 border border-2 border-custom-border outline-transparent rounded-lg text-base hover:border-custom-accent focus:outline-custom-accent-dark focus:shadow-md focus:shadow-custom-accent transition-all duration-300 transform"
      id="email"
      type="text"
      placeholder="Introduce tu correo"
      name="email"
      ngModel
    />
  </fieldset>
  @if (emailRequestError) {
    <p class="mx-auto pl-1 mt-1 italic text-sm text-custom-error pb-5">{{ emailRequestError }}</p>
  }
  <div class="md:flex md:items-center">
    <div class="md:w-1/5"></div>
    <div class="mx-auto">
      <button
        class="w-fit px-3 py-2 rounded-lg text-white bg-custom-accent hover:bg-custom-accent-dark hover:bg-custom-accent-dark dark:bg-purple-800 dark:hover:bg-purple-900 transition-all duration-300 transform hover:scale-105 shadow-lg hover:shadow-xl"
        type="submit"
      >
        Comprobar
      </button>
    </div>
    <div class="md:w-1/5"></div>
  </div>
</form>
